{% extends 'base.html.twig' %}

{% block title %}Fiche d'un type{% endblock %}

{% block body %}
    <h1>{{ type.type }}</h1>
    
    <h2>Liste des artistes</h2>
    <ul>
        {% for artistType in type.artists %}
            <li>{{ artistType.artist.firstname }} {{ artistType.artist.lastname }}</li>
        {% endfor %}
    </ul>

    <nav><a href="{{ path('type_index') }}">Retour à l'index</a></nav>
{% endblock %}




{#{% extends 'base.html.twig' %}

{% block title %}Fiche d'un type{% endblock %}

{% block body %}
    <h1>{{ type.type|capitalize }}</h1>
    <nav><a href="{{ path('type_index') }}">Retour à l'index</a></nav>
{% endblock %}#}
