{% extends 'base.html.twig' %}

{% block title %}Liste des représentations{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

    <ul>
    {% for representation in representation %}
        <li><a href="{{ path('representation_show', { id: representation.id }) }}">{{ representation.theShow.title }}</a>
            {% if representation.theLocation %}
            - <span>{{ representation.theLocation.designation }}</span>
            {% endif %}
            - <datetime>{{ representation.schedule|date('d-m-Y H:i') }}</datetime>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
