{% extends 'base.html.twig' %} {% block title %}Liste des artistes{% endblock %}
{% block body %}
<h1>Liste des artistes</h1>

{% for message in app.flashes('success') %}
<div class="alert-success">
  {{ message }}
</div>
{% endfor %}

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for artist in artists %}
    <tr>
      <td>{{ artist.firstname }}</td>
      <td>
        <a href="{{ path('artist_show', { id: artist.id }) }}">{{
          artist.lastname
        }}</a>
      </td>
      <td>
        <button style="display: inline-block">
          <a
            href="{{ path('artist_edit', { id: artist.id }) }}"
            type="submit"
            id="artist_save"
            name="artist[save]"
            >Modifier</a
          >
        </button>

        <div style="display: inline-block">
          {{ include("artist/_delete_form.html.twig") }}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
<br />

<div>
  <button><a href="{{ path('artist_new') }}">Ajouter</a></button>
</div>
{% endblock %}
