{% extends 'base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

     {% for message in app.flashes('success')%}
     <div class="alert-sucess">
        {{message}}
    </div>

{%endfor%}

    <table>
        <thead>
            <tr>
                <th>Firstname <br><br></th>
                <th>Lastname <br><br></th>
                <th>Actions <br><br></th>                
            </tr>            
        </thead>
        
        <tbody >
        {% for artist in artists %}
            <tr>
                <th>{{ artist.firstname }}</th>
                <th><a href="{{ path('artist_show', { id: artist.id }) }}">{{ artist.lastname }}</a><th>
                <th><div><a href="{{ path('artist_edit', {'id': artist.id}) }}"</a><button type="submit" id="artist_save" name="artist[save]">Modifier</button></div></th>
                <th>{{ include('artist/_delete_form.html.twig') }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav><a href="{{ path('artist_new') }}">Ajouter</a></nav>
{% endblock %}
