{% extends 'base.html.twig' %} {% block title %}Liste des Artistes{% endblock %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{ asset('asset/css/datatables.css') }}">
<div class="page-header" >
  <h1>Liste des Artistes</h1>
</div>

{% for message in app.flashes('success') %}
<div class="alert-success">
  {{ message }}
{% endfor %}

<table class="table_artist">
  <div>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Action</th>
      </tr>
    </thead>
  </div>

  <tbody>
    {% for artist in artists %}
    <tr>
      <td>{{ artist.firstname }}</td>
      <td>
        <a href="{{ path('artist_show', { id: artist.id }) }}">{{
          artist.lastname
        }}</a>
      </td>
      <td>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-primary"
              href="{{ path('artist_edit', { id: artist.id }) }}"
              type="submit"
              id="artist_save"
              name="artist[save]"
              >Modifier</a
            >           
          
            {{ include("artist/_delete_form.html.twig") }}
      </td>
      
    </tr>
    {% endfor %}   

  </tbody>
  
</table>
<br />
<br />

<div class="btn_ajouter">
  <button type="button" class="btn btn-outline-secondary"><a href="{{ path('artist_new') }}">Ajouter</a></button>
</div>

{% endblock %}
